<div id="map">
  
</div><!-- /map -->

<div id="main" class="clearfix">
  
  <section class="bar">
    <h2>Actividad</h2>
    <ul class="pad list events">
      <li class="order pending_order">
        <h4>Romano</h4>
        2 products, $30,000
      </li>
      <li class="user login">
        <h4>Ismael Celis</h4>
      </li>
      <li class="product updated">
        <h4>Chococat</h4>
      </li>
    </ul>
  </section><!-- /events -->
  
  <section class="bar">
    <h2>Tiendas</h2>
  </section>
</div>