html, body, table, ul, ol, form {
  padding:0; margin: 0;
}
ul, ol {
  margin-left:1.5em;
}
html { height: 100%; }
body {
  background: #123;
  font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #aaa;
  height: 100%;
}

#wrapper {
  height: 100%;
}

#main {
  position: absolute;
  top:0;right:0;
  z-index:2;
  display: block;
  padding-top: 40px;
}

li h4 { margin-top: 0; }

section.bar {
  position:relative;
  z-index:1000;
  float:left;
  margin: 0 10px 0 0;
  -webkit-box-shadow: black 0 2px 4px;
  border-radius: 5px;
  background: #333;
  width: 300px;
  min-height: 400px;
}

.bar.stats { width:440px; }

.widget {padding:0 20px 20px 20px;}
.bar .list {
  list-style-type: none;
  margin-left:0;
}
.list h4 {
  margin:0;
}
.list li {
  margin-bottom: 5px;
  -webkit-box-shadow: black 0 1px 2px;
  padding: 5px 10px;
  border-radius: 4px;
  text-shadow: black 0px 1px 0px;
  background-color:#5A5A5A;
}
.bar h2 {
  margin: 12px 15px;
  background: #1F1F1F;
  color: #eee;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 4px;
  text-shadow: #000 1px 1px 0px;
  text-transform: uppercase;
}
/*:::::::::::::::::::::::::::::: Widgets :::::::::::::::::::::::::::::::::::::*/
#ActivityWidget {
  height: 320px;
  overflow: hidden;
  border-bottom: solid gray 3px;
  padding: 0;
  margin: 0px 20px 20px;
}

#LocationWidget {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Event types */
.pending_order { background-color: orange; color: #eee;}
.login { background-color: green; color: #eee;}
/* hacks */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}