html, body, table, ul, ol, form {
  padding:0; margin: 0;
}
ul, ol {
  margin-left:1.5em;
}
html { height: 100%; }
body {
  background: #123;
  font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #aaa;
  height: 100%;
}

#wrapper {
  height: 100%;
}

li h4 { margin-top: 0; }

section.bar {
  position:relative;
  z-index:1000;
  display:block;
  -webkit-box-shadow: black 0 2px 4px;
  border-radius: 5px;
  background: #333;
  padding: 12px 0;
  margin-bottom:10px;
}
.column {position:absolute;z-index:5;top:10px;}
.column.narrow {width: 300px;left:10px;}
.column.wide {width:440px;right:10px;}

.widget {padding:0 20px 20px 20px;}

.bar .list {
  list-style-type: none;
  margin-left:0;
}
.list h4 {
  margin:0;
}
.list li {
  margin-bottom: 5px;
  -webkit-box-shadow: black 0 1px 2px;
  padding: 5px 10px;
  border-radius: 4px;
  text-shadow: black 0px 1px 0px;
  background-color:#5A5A5A;
}
.bar h2 {
  margin: 0 15px 12px 15px;
  background: #1F1F1F;
  color: #eee;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 4px;
  text-shadow: #000 1px 1px 0px;
  text-transform: uppercase;
}
.bar.chat {clear:left;}
/*:::::::::::::::::::::::::::::: Widgets :::::::::::::::::::::::::::::::::::::*/
#LineChartWidget {min-height:220px;padding-bottom:0;}

#ControlsWidget {padding-bottom:0;}
#ControlsWidget .status { text-shadow: black 0px 1px 0px; color:#A90D0B; display:inline-block;margin-left:2em; }
#ControlsWidget .status.running {color:green;}

#ActivityWidget {
  height: 425px;
  overflow: hidden;
  border-bottom: solid gray 3px;
  padding: 0;
  margin: 0px 20px;
}
#ActivityWidget li:hover { color:white; }
#ActivityWidget .order_closed { background-color: #1D6417;}
#ActivityWidget .order_closed:hover { background-color: #26851F;}
#ActivityWidget .order_shipped { background-color: #0F2964;}
#ActivityWidget .order_shipped:hover { background-color: #133687;}
#ActivityWidget .order_placed { background-color: #5F5B16;}
#ActivityWidget .order_placed:hover { background-color: #847E1F;}
#ActivityWidget .order_cancelled { background-color: #662D08;}
#ActivityWidget .order_cancelled:hover { background-color: #93410C;}

#LocationWidget {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#OrderTotalsWidget {min-height:113px;padding-bottom:0;}
#OrderTotalsWidget .total {font-size: 45px;float:right;color:#fff;text-shadow: black 2px 2px 0px;}
#OrderTotalsWidget .placed_total {float:right;font-size:20px;}
#OrderTotalsWidget strong {float:left;line-height:3;}

#ChatWidget {padding-bottom:0;}
#ChatWidget .messages {height: 50px;overflow:auto;margin-right:10px;}
#ChatWidget strong {text-shadow: black 2px 2px 0px;color:#fff;}

/* Event types */
.pending_order { background-color: orange; color: #eee;}
.login { background-color: green; color: #eee;}
/* hacks */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}